<h1>Ballots#show</h1>

<h2>Cast your vote for the following candidates to win <%= @ballot.award %>:</h2>

<%= @ballot.candidate_a %>

<%= form_tag vote_candidate_url(ballot_id: @ballot.id, candidate_id: @ballot.candidate_a.id) do %>
    <%= submit_tag "Vote for #{@ballot.candidate_a}" %>
<% end %>

<h3>OR</h3>

<%= @ballot.candidate_b %>

<%= form_tag vote_candidate_url(ballot_id: @ballot.id, candidate_id: @ballot.candidate_b.id) do %>
    <%= submit_tag "Vote for #{@ballot.candidate_b}" %>
<% end %>
